
	<footer class="landing-footer">
		
		<div class="landing-footer__call_info">
			<p>Телефон: <a class="landing-footer__number" href="tel:+74951338663">+7 (495) 133-86-63</a><br> с 10:00 до 19:00</p>
		</div>
		
		<a class="landing-footer__help" href="support@wikium.ru">Помощь</a>
		
		<p class="landing-footer__copyrigth">© Викиум 2013 - 2019</p>
		
		           <a ga-event-category="button" ga-event-action="tryit" class="btn" id="footer-btn" href="https://wikium.ru/start">
                        Начать развиваться
                    </a>
		
	</footer>
