
	<section class="section-benefits">
	
        <h3 class="section-benefits__title">Эффект от занятий</h3>
    
        <p class="section-benefits__paragraph">В основе тренажеров Викиум лежат методики российских и зарубежных нейропсихологов, доказавшие свою эффективность в ходе множества экспериментов и научных работ</p>
    
    
        <div class="landing-benefits">
                <div class="landing-benefits__item">
                            <div class="landing-benefits__item-index-1">
                                +17%
                            </div>
    
                            <p class="landing-benefits__item-text">
                                к скорости реакции за неделю
                            </p>
                </div>
    
                <div class="landing-benefits__item">
                            <div class="landing-benefits__item-index-2">
                                х1,6
                            </div>
    
                            <p class="landing-benefits__item-text">
                                к фокусировке на задачах за 1 месяц
                            </p>
                </div>
    
    
                <div class="landing-benefits__item">
                            <div class="landing-benefits__item-index-3">
                                х2,1
                            </div>
    
                            <p class="landing-benefits__item-text">
                                к вниманию к мелочам и деталям за 2 месяца
                            </p>
                </div>
    
                <div class="landing-benefits__item">
                            <div class="landing-benefits__item-index-4">
                                +19%
                            </div>
    
                            <p class="landing-benefits__item-text">
                                к памяти за 2–3 недели
                            </p>
                </div>

        </div>
            
        <p class="landing-benefits__text">
                На основе исследования 16 314 412 тренировок пользователей Викиум
        </p>
        
        <a ga-event-category="button" ga-event-action="tryit" class="btn" id="benefits-btn" href="https://wikium.ru/start">
                Начать развиваться
        </a>

	</section>
