
	<section class="landing-reviews section">
	
		<div class="section-container__5">
		
				<div class="landing-revievs__users">
						
					<div class="landing-reviews__users">

						 <p class="landing-reviews__users-numb">4&nbsp;464&nbsp;044</p>
						
						 <p class="landing-reviews__users-text">человек уже тренируются на&nbsp;Викиум</p>

					</div>
					
				</div>
			
			
				<div class="landing-revievs__items">
				
						<div class="reviews">
					
							<img class="review-foto" src="src\assets\img\evgeny_32.png" alt="evgeny_32">
							
							<div class="review__bloquote">
							
							<p class="review-text">По возможности стараюсь не садиться за руль без десяти минутного занятия на ваших тренажерах — очень помогают включить внимание и чувствовать себя увереннее.</p>
								
							<b class="review-name">Евгений, 32 года</b>	
								
							</div>
					
						</div>
					
					
						<div class="reviews">
					
							<img class="review-foto" src="src\assets\img\svetlana_52.png" alt="svetlana_52">
							
							<div class="review__bloquote">
							
							<p class="review-text">Перестала забывать, куда кладу вещи, в магазин теперь хожу без списка, да и вообще мысли стали собраннее.</p>
								
							<b class="review-name">Светлана Николаевна, 52 года</b>	
								
							</div>
					
						</div>
					
						<div class="reviews">
					
							<img class="review-foto" src="src\assets\img\anton_27.png" alt="anton_27">
							
							<div class="review__bloquote">
							
							<p class="review-text">Работаю на погрузчике, за­ме­тил, что но­ме­ра пози­ций стал до­ста­вать из головы, а не из за­писки — стал успе­вать го­раз­до боль­ше нормы.</p>
								
							<b class="review-name">Антон, 27 лет</b>	
								
							</div>
					
						</div>
					
				</div>
		
			<a ga-on="click" ga-event-category="button" class="landing-reviews__btn  btn" href="/start/register">ПРИСОЕДИНИТЬСЯ К ВИКИУМ</a>
			
		</div>
	
	</section>
	