/* You can add global styles to this file, and also import other style files */
body, html{
    padding: 0;
    margin: 0 auto;
    background-image: linear-gradient(115deg,#6039aa,#1c1e33);
	height: 100%;
	width: 100%;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

.btn {
    position: absolute;  
	border-radius: 50px;
    cursor: pointer;
	background-color: #03a9f4;
	width: 250px;
	padding: 16px;
	color: aliceblue;
	text-decoration: none;
	font-size: 20px;
    font-weight: 600;
	transition: transform .2s;
	font-family: 'Arimo', sans-serif;
	letter-spacing: 1px;
}